{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:storybook/recommended",
    "plugin:flowtype/recommended",
    "plugin:mdx/recommended"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/extensions": ["error", "ignorePackages"],
    "import/prefer-default-export": 0,
    "import/no-duplicates": ["error", {"considerQueryString": true}],
    "import/no-webpack-loader-syntax": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".mdx"] }],
    "no-restricted-exports": 0,
    "yoda": ["error", "never", { "exceptRange": true }]
  },
  "overrides": [
    {
      "files": ["*.?(c)js", "*.jsx"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "babelOptions": {
          "configFile": "./babel.config.cjs"
        }
      },
      "plugins": ["flowtype"]
    },
    {
      "files": ["*.es3.cjs"],
      "rules": {
        "no-param-reassign": 0,
        "no-var": 0
      }
    },
    {
      "files": ["**/__tests__/**/*.js", "*.test.js"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      }
    },
    {
      "files": ["*.md?(x)"],
      "rules": {
        "max-len": 0,
        "semi": 0,
        "react/jsx-indent": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
        "webpack": {
            "config": "./.storybook/webpack.config.cjs"
        }
    }
  }
}