{
  "extends": ["airbnb", "airbnb/hooks", "plugin:storybook/recommended", "plugin:mdx/recommended"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/extensions": ["error", "ignorePackages"],
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".mdx"] }]
  },
  "overrides": [
    {
      "files": ["*.?(c)js", "*.jsx"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "babelOptions": {
          "configFile": "./.babelrc.json"
        }
      },
      "plugins": ["flowtype"]
    },
    {
      "files": ["*.md?(x)"],
      "rules": {
        "max-len": 0,
        "semi": 0,
        "react/jsx-indent": 0
      }
    }
  ]
}